body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header{
  display: flex;
  flex: 0;
  justify-content: space-between;
}

.section1, .section2, .section3, .section4{
  flex: 1;
  display: flex;
}

.footer{
  display: flex;
  flex: 0;
  justify-content: center;
}

.section1, .header{
  padding: 0 100px;
  background-color: #1F2937;
  color: white;
}

.section1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2{
  text-align: center;
  flex-flow: column wrap;
}

.random{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.box{
  border: 2px solid rgb(9, 91, 255);
  border-radius: 20px;
  padding-top: 100%;
}

.info{
  max-width: 100px;
  text-align: center;
}

.section3{
  flex-direction: column;
  justify-content: center;
  background-color: rgb(237, 238, 240);
  padding: 0 18%;
}

.author{
  text-align: right;
}

.quote{
  text-align: center;
}

.section4{
  justify-content: center;
  align-items: center;
}
.blue{
  display: flex;
  background-color: #3882F6;
  min-height: 50%;
  min-width: 80%;
  justify-content: space-around;
  align-items: center;
}

