body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section1, .header{
  padding: 0 15vh;
  background-color: #1F2937;
  color: white;
}

ul{
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.header{
  display: flex;
  flex: 0;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.hLogo{
  font-weight: bold;
}

.section1, .section2, .section3, .section4{
  flex: 1;
  display: flex;
  min-height: 325px;
  justify-content: center;
}

.footer{
  display: flex;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: white;
}

.section1{
  justify-content: space-around;
  align-items: center;
}

img{
  width: 20vh;
}
.section2{
  text-align: center;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.random{
  display: flex;
  justify-content: center;
  gap: 5%;
  text-align: center;
}

.box{
  border: 2px solid rgb(9, 91, 255);
  border-radius: 20px;
  height: 110px;
  width: 110px;
  background-image: url('dog.jpg');
  background-size: cover;
  background-position: center;
}

.info{
  max-width: 100px;
  justify-content: top;
}

.section3{
  flex-direction: column;
  justify-content: center;
  background-color: rgb(237, 238, 240);
  padding: 0 18%;
}

.author{
  margin-top: 20px;
  text-align: right;
  color: rgb(76, 87, 98);
}

.quote{
  text-align: center;
  font-family: fantasy;
  color: #323943;
}

.section4{
  justify-content: center;
  align-items: center;
}

.blue{
  display: flex;
  background-color: #3882F6;
  min-height: 40%;
  min-width: 70%;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.sec1text{
  flex-basis: 200px;
  flex-grow: 1;
}

.sec1img{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

h1, h2{
  margin: 0;
  font-weight: 900;
}

.text, .info{
  font-size: smaller;
  margin-bottom: 12px;
}

button{
  background-color: rgb(9, 91, 255);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 12px;
}

